/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
nav {
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
}
.nav-wrapper,
.wrapper {
  padding: 32px 24px 32px 24px;
  display: flex;
  justify-content: space-between;
}
nav .wrapper {
  justify-content: center;
  padding-inline: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.wrapper h1 {
  color: white;
  font-size: 42px;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-design {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 24px 32px 24px;
  text-align: center;
}
/* .nav-wrapper ul {
  display: flex;
  list-style: none;
} */
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn-hamburger,
.menu-btn-hamburger::before,
.menu-btn-hamburger::after {
  position: absolute;
  border-radius: 5px;
  width: 20px;
  height: 3px;
  background-color: white;
  transition: transform ease-in-out 220ms;
}

.menu-btn-hamburger::after,
.menu-btn-hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}
.menu-btn-hamburger::after {
  transform: translateY(-6px);
}
.menu-btn-hamburger::before {
  transform: translateY(6px);
}

/* Animations */
.menu-btn.open .menu-btn-hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
  height: 400vh;
}
.grid-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 100%;
  max-width: 100%;
}

.testimonials-client-container {
  display: flex;
  flex-direction: column;
}
.testimonials-container img {
  border-radius: 50%;
}
.client-img {
  display: flex;
  justify-content: center;
}
.client-img img {
  width: 72px;
  height: 72px;
}
.testimonials-container h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.client-spacing {
  margin-block: 2rem;
  text-align: center;
}
.client-spacing p {
  margin-block: 33px;
}
.text {
  text-align: center;
}
.text p {
  font-size: 18px;
}
.text h3 {
  font-size: 32px;
}
.text span {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 5rem 2rem;
  color: #2c7566;
}
.about-links-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 88px;
  width: 100%;
}
.social-media-container {
  display: flex;
}
.social-media-container li {
  margin-inline: 1.125rem;
}

footer svg:nth-of-type(1) {
  margin-bottom: 40px;
}

/* images */
.egg {
  background-image: url(/images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cup {
  background-image: url(/images/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cherry {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row: span 2;
}
.orange {
  background-image: url(/images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row: span 2;
}
/* .grid-picture-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-picture-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-picture-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-picture-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
